<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.djn.contact.mapper.ExcelMapper" >

    <!--<resultMap id="ExcelList" type="">-->
        <!--<result column="password" javaType="VARCHAR" property="password"/>-->
        <!--<result column="password" javaType="VARCHAR" property="password"/>-->
        <!--<result column="Invitation_code" javaType="VARCHAR" property="invitationCode"/>-->
    <!--</resultMap>-->

    <resultMap type="com.djn.contact.model.ContactsListModel" id="ExcelList">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="Invitation_code" property="invitationCode"/>
        <result column="contacts_name" property="contactsName"/>
    </resultMap>

    <resultMap type="com.djn.contact.model.Admin" id="NeedToDelete">
        <id column="id" property="id"/>
        <result column="admin_name" property="adminName"/>
        <result column="del_time" property="delTime"/>
        <result column="Invitation_code" property="invitationCode"/>
        <result column="phoneNumber" property="phoneNumber"/>
        <result column="contacts_name" property="contactsName"/>
    </resultMap>


    <insert id="addExcel" useGeneratedKeys="true" keyProperty="id" parameterType="com.djn.contact.model.Admin">
        insert into admin(password, admin_name, contacts_name, phoneNumber, create_time, update_time, open_id, Invitation_code) values(#{password},#{adminName},#{contactsName},#{phoneNumber},#{createTime},#{updateTime},#{openId},#{invitationCode})
    </insert>

    <select id="findContactsNameById" resultType="java.lang.String">
        select contacts_name from admin where id=#{id}
    </select>

    <select id="checkPermission"  resultType="boolean">
        SELECT COUNT(1)>0 from admin where  password=#{password} and Invitation_code=#{invitationCode}
    </select>
    <update id="addInvitationCode">
        update admin set Invitation_code=#{invitationCode} where id=#{id}
    </update>
    
    <select id="findExcelListByAdmin" resultMap="ExcelList">
        select id,password,Invitation_code,contacts_name from admin where open_id=#{openId};
    </select>

    <delete id="deleteExcel" parameterType="java.lang.String">
        delete from admin where Invitation_code=#{invitationCode}
    </delete>

    <update id="updatePassword" parameterType="java.lang.String">
        update admin set password=#{password} where Invitation_code=#{invitationCode}
    </update>

    <select id="needToDelete" resultMap="NeedToDelete">
        select phoneNumber,Invitation_code,admin_name,del_time,contacts_name from admin where del_time is not null and del_time &lt;=NOW()
    </select>

</mapper>
